 .foto1 {
padding: 15px; 
float: left; 
width: 348px;
height: 1000px;
 }
 .foto2 {
padding: 15px; 
float: right; 
width: 348px;
height: 1000px;
 }
 .foto3 {
margin: 10px; 
border: 1px solid black; 
width: 190px;
height: 170px;
 }
 .instagram{
float:right;  
width: 32px;
height: 32x;
 }
 .whatsapp {
float:right;  
width: 30px;
height: 30px;
 }
body {
    background-color: #000000
  }

hr {
  border-color: pink;
}
